Possible backslash issue in routing

Hello,

I have a couple of routes where the one of the fragments may contain encoded backslashes like `245%3BCB24%5C%5C%206Xl%3B1` but this returns a 404 response. If I change one of routes where the fragment I expect this to be in is the final one to be greedy then the value is decoded as `245;CB24/ 6Xl;1` instead of the expected `245;CB24\\ 6Xl;1`.

Am I misunderstanding how the url values are decoded or is this a bug?

I'm using Nancy 1.3 if that matters.

Regards

Which host are you using?

Owin hosting, `Microsoft.Owin.Hosting.WebApp` version 3.0.1.0

Yeah... We can't do anything about OWIN. The OWIN spec ([5.5. Percent-encoding](http://owin.org/html/spec/owin-1.0.html#5-5-percent-encoding)) states that 

> Most web server implementations will perform percent-decoding on paths in order to perform request routing (as they rightly may, see: RFC 2616 section 5.1.2, also 3.2.3), and OWIN follows this precedent.

This means that by the time Nancy receives the path, it's already been decoded, and the data is lost :disappointed: 

Ah, thanks, I'll take a look at the OWIN project.